<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home Page</li>
    </ol>
</nav>
<br>
<div class="container-fluid">
    <h3>New Properties</h3>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img class="card-img-top" ng-src="{{vm.new1.image}}">
                    <div class="middle">
                        <div class="text"><a href="#/property/{{vm.new1._id}}" class=" btn btn-info">More Details</a></div>
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">{{vm.new1.option}} {{vm.new1.price | currency}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img class="card-img-top" ng-src="{{vm.new2.image}}">
                    <div class="middle">
                        <div class="text"><a href="#/property/{{vm.new2._id}}" class=" btn btn-info">More Details</a></div>
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">{{vm.new2.option}} {{vm.new2.price | currency}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    <img class="card-img-top" ng-src="{{vm.new3.image}}">
                    <div class="middle">
                        <div class="text"><a href="#/property/{{vm.new3._id}}" class=" btn btn-info">More Details</a></div>
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">{{vm.new3.option}} {{vm.new3.price | currency}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>